<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/body.css">
    <title>LogIn</title>
</head>
<body>

    <nav class="nav" id="navBar">
        <span><a href="index.html">Home</a></span>
        <a href="how.html">How it works</a>
        <a href="">Rent</a>
        <a href="login.html">Log in</a>
        <a href="register.html">Register</a>
        <a href="javascript:void(0);" class="icon" onclick="responsive()">&#9776;</a>
    </nav>
    
    <div class="split first">
        <form action="" method="get">
            <div class="emailSection">
                <label for="userEmail">Email: </label>
                <br><br>
                <input type="email" name="userEmail" id="userEmail">
            </div>
            <br><br>
            <div class="passSection">
                <label for="userPass">Password: </label>
                <br><br>
                <input type="password" name="userPass" id="userPass">
            </div>
            <br><br>
            <div class="submitSection">
                <input type="submit" name="loginSubmit" id="loginSubmit">
            </div>  
        </form>
    </div>
    <div class="split second">
        
    </div>
    
</body>
</html>