<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/register.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/body.css">
    <title>Register</title>
</head>
<body>

    <nav class="nav" id="navBar">
        <span><a href="index.html">Home</a></span>
        <a href="how.html">How it works</a>
        <a href="">Rent</a>
        <a href="login.html">Log in</a>
        <a href="register.html">Register</a>
        <a href="javascript:void(0);" class="icon" onclick="responsive()">&#9776;</a>
    </nav>
    
    <div class="split first">
        <form action="" method="get">
            <div>
                <label class="nameLabel" for="fname">Name: </label><br>
                <input class="fname" type="text" name="fname" id="fname">
                <input class="lname" type="text" name="lname" id="lname">
            </div>
            <div>
                <label class="emailLabel" for="email">Email: </label><br>
                <input class="email" type="email" name="email" id="email">
            </div>
            <div>
                <label class="ageLabel" for="age">Age: </label><br>
                <input class="age" type="number" name="age" id="age">
            </div>
            <div>
                <label class="passLabel" for="pass">Password: </label><br>
                <input class="pass" type="password" name="pass" id="pass">
            </div>
            <div>
                <label class="confPassLabel" for="confPass">Confirm Password: </label><br>
                <input class="confPass" type="password" name="confPass" id="confPass">
            </div>
        </form>
    </div>
    <div class="split second">
        
    </div>
    
</body>
</html>