body {
    background-color: rgba(211, 211, 211, 0.221);
}

form {
    background-color: rgba(100, 148, 237, 0.221);
    position: relative;
    padding: 2rem;
    font-size: x-large;
    align-items: center;
    margin-top: 10%;
    border: 1px dashed;
    border-radius: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
            ". email ."
            ". pass ."
            ". btn .";
    z-index: 20;
}

input {
    font-size: large;
    padding: 0.5rem;
}

.emailSection {
    grid-area: email;
}

.passSection {
    grid-area: pass;
}

.submitSection {
    grid-area: btn;
    border-radius: 15px;
}

.warning {
    color: red;
}