body {
    background-color: rgb(236, 232, 232);
}

main {
    background-color: rgba(137, 145, 205, 0.5);
}

#cars {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 90%;
    margin: 5% 5% 0% 5%;
    border: 1px solid;
}
  
#cars td, #cars th {
    border: 1px solid rgb(185, 170, 170);
    padding: 8px;
}

#cars tr:nth-child(even){
    background-color: #f2f2f2;
}

#cars tr:nth-child(odd){
    background-color: white;
}

#cars tr {
    transition: font-size 0.1s;
}

#cars tr:hover {
    background-color: #ddd;
    font-size: 1.03rem;
}

.selectBtn {
    font-size: 1rem;
    border-radius: 20%;
}

.selectBtn:hover {
    border: 2px solid red;
}

#cars th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(53, 53, 226);
    color: white;
}

#filterForm {
    display: inline-block;
    width: 90%;
    border: 3px outset;
    padding: 1rem;
    margin-left: 5%;
    background-color: rgb(200, 200, 219);;
}

#filterForm select{
    margin: 5px 10px 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    max-width: 12rem;
}

.filterBtn {
    font-size: 1.3rem;
}


#selectedCar {
    margin: 2% 5% 0% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 70%;
    padding: 2rem;
}

#selectedCar select, input{
    margin: 5px 10px 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}

@media screen and (max-width: 915px) {
    #selectedCar {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 570px) {
    #selectedCar {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
}

.warning {
    color: red;
    margin-left: 5%;
}

#randomCar {
    font-size: large;
    visibility: hidden;
    
}

.randomBtn {
    border-radius: 50px;
    padding: 0.5rem;
    position: relative;
}

