<nav class="nav" id="navBar">
    <span><a href="/home">Home</a></span>
    <a href="/how_it_works">How it works</a>
    <a href="/rent">Rent</a>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    <a href="javascript:void(0);" class="icon" onclick="responsive()">&#9776;</a>
</nav>