<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/how.css">
    <title>How it works</title>
</head>
<body>

    <%- include('webControls/nav.ejs'); %>

    <div class="split first">
        <div class="details">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et dictum velit. 
                Donec nec aliquet lacus. Quisque sit amet faucibus magna. 
                Phasellus vel ex semper, tincidunt turpis ac, accumsan sapien. 
                Pellentesque ligula est, sagittis at dui non, vulputate imperdiet est. 
                Morbi a elit id ipsum fermentum viverra. In congue imperdiet tristique. 
                Mauris ultricies rhoncus nulla ultricies pharetra. Nulla facilisi. 
                Aenean fringilla nulla e
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et dictum velit. 
                Donec nec aliquet lacus. Quisque sit amet faucibus magna. 
                Phasellus vel ex semper, tincidunt turpis ac, accumsan sapien. 
                Pellentesque ligula est, sagittis at dui non, vulputate imperdiet est. 
                Morbi a elit id ipsum fermentum viverra. In congue imperdiet tristique. 
                Mauris ultricies rhoncus nulla ultricies pharetra. Nulla facilisi. 
                Aenean fringilla nulla e
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et dictum velit. 
                Donec nec aliquet lacus. Quisque sit amet faucibus magna. 
                Phasellus vel ex semper, tincidunt turpis ac, accumsan sapien. 
                Pellentesque ligula est, sagittis at dui non, vulputate imperdiet est. 
                Morbi a elit id ipsum fermentum viverra. In congue imperdiet tristique. 
                Mauris ultricies rhoncus nulla ultricies pharetra. Nulla facilisi. 
                Aenean fringilla nulla e
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et dictum velit. 
                Donec nec aliquet lacus. Quisque sit amet faucibus magna. 
                Phasellus vel ex semper, tincidunt turpis ac, accumsan sapien. 
                Pellentesque ligula est, sagittis at dui non, vulputate imperdiet est. 
                Morbi a elit id ipsum fermentum viverra. In congue imperdiet tristique. 
                Mauris ultricies rhoncus nulla ultricies pharetra. Nulla facilisi. 
                Aenean fringilla nulla e
            </p>
        </div>
    </div>
    <div class="split second">
        
    </div>
    
</body>
</html>