<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/index.js"></script>
    <script src="/js/dropdown.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/body.css">
    <title>Rent a car</title>
</head>

<body>
    
    <%- include('webControls/nav.ejs'); %>
    
    <main>
        <section class="split first">
            <h3 class="motto">
                Search, book and rent vehicles easily
            </h3>
        </section>
        <section class="split second">
            <form action="/rent" method="get">
                <p><h2>Search by location</h2></p>
                <p>
                    <label for="location">Location</label>
                    <select id="location" name="location">
                        <option value="University Square">University Square</option>
                        <option value="Baneasa Shopping Center">Baneasa Shopping Center</option>
                        <option value="IKEA Pallady">IKEA Pallady</option>
                        <option value="Afi Cotroceni">Afi Cotroceni</option>
                    </select>
                </p>
                <p>
                    <label for="start">Start date</label>
                    <input type="datetime-local" name="start" id="start"
                                        placeholder="04/05/2022, 10:12 AM">
                </p>
                <p>
                    <label for="start">End date</label>
                    <input type="datetime-local" name="end" id="end"
                                        placeholder="10/05/2022, 10:12 AM">
                </p>
                <p><input type="submit" name="search" id="search" value="Search"></p>
            </form>
        </section>
    </main>
</body>

</html>