<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/index.js"></script>
    <script src="/js/rent.js"></script>
    <link rel="stylesheet" href="/css/rent.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/body.css">
    <title>Rent a car</title>
</head>

<body>
    <%- include('webControls/nav.ejs'); %>

    <main class="main">
        <section id="randomCar">
            You can't decide? Consider one of this:
        </section>
        <form id="selectedCar" action="" method="post">
            <!-- <div>
                <label for="description">Description</label>
                <input type="text" name="description" id="rentInput0">        
            </div>

            <div>
                <label for="make">Make</label>
                <input type="text" name="make" id="rentInput1" readonly>
            </div>
            
            <div>
                <label for="model">Model</label>
                <input type="text" name="model" id="rentInput2" readonly>
            </div>
            
            <div>
                <label for="fuel">Fuel</label>
                <input type="text" name="fuel" id="rentInput3">
            </div>

            <div>
                <label for="transmission">Transmission</label>
                <input type="text" name="transmission" id="rentInput4" readonly>
            </div>
            
            <div>
                <label for="location">Location</label>
                <input type="text" name="location" id="rentInput5" readonly>
            </div>
           
            <div>
                <label for="start">Start date</label>
                <input type="datetime-local" name="start" id="start">
            </div>
           
            <div>
                <label for="start">End date</label>
                <input type="datetime-local" name="end" id="end">
            </div> -->
            <input type="text" name="description" id="rentInput0" placeholder="Description" readonly>
            <input type="text" name="make" id="rentInput1" placeholder="Make" readonly> 
            <input type="text" name="model" id="rentInput2" placeholder="Model" readonly>
            <input type="text" name="fuel" id="rentInput3" placeholder="Fuel" readonly>
            <input type="text" name="transmission" id="rentInput4" placeholder="Transmission" readonly>
            <input type="text" name="location" id="rentInput5" placeholder="Location" readonly>
            <input type="datetime-local" name="start" id="start" placeholder="Start date">
            <input type="datetime-local" name="end" id="end" placeholder="End date">
            <input type="submit" value="Rent">
        </form> 
        <% if(warning){%>
            <h3 class="warning"><%=warning%></h3>
            <%}%>   
        <div id="filterForm">
            <label for="make">Make</label>
            <select name="make" id="make" form="filterForm">
            </select>
            <label for="model">Model</label>
            <select name="model" id="model" form="filterForm">
            </select>
            <label for="fuel">Fuel</label>
            <select name="fuel" id="fuel" form="filterForm">
            </select>
            <label for="transmission">Transmission</label>
            <select name="transmission" id="transmission" form="filterForm">
            </select>
            <label for="location">Location</label>
            <select name="location" id="location" form="filterForm">
            </select>
            <button class="filterBtn" onclick="filter()">Filter</button>
        </div>

        <table id="cars">
            <thead>
                
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </main>
    <!-- <div class="split second">
        
    </div> -->
  
</body>

</html>