body {
    background-image: url("../images/car.png");
}

.motto {
    position: relative;
    top: 45%;
    left: 15%;
    font-size: 2em;
    width: 50vw;
}

form {
    position: relative;
    top: 15%;
    left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    float: left;
    padding: 2rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.508);
}

form input {
    margin: 5px 10px 5px 0;
    padding: 10px;
    border-radius: 25px;
}

form input:focus {
  outline: 3px solid gold;
}


form label {
    display: block;
    margin: 5px 10px 5px 0;
    font-size: large;
}

form p {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 725px) {
    form {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

}
















